! ------------------- !
!  lolitastic melody  !
! ------------------- !
*foreground:	#ebebeb
*background:	#101012

!black
*color0:	#1F1F1F
*color8:	#4d4d4d
!redc
*color1:	#A54242
*color9:	#CC6666 
!green
*color2:	#B7CE42
*color10:	#BDE077
!yellow
*color3:	#FEA63C
*color11:	#FFE863
!blue
*color4:	#66AABB
*color12:	#AACCBB
!magenta
*color5:	#B7416E
*color13:	#BB4466
!cyan
*color6:	#5E7175
*color14:	#A3BABF
!white
*color7:	#DDEEDD
*color15:	#6C887A

! scrollbar style
URxvt.scrollBar: false

! font
*font: -misc-orp-medium-r-semicondensed--12-110-75-75-c-60-iso10646-1
*boldFont: 
*italicFont: -misc-orp-medium-i-semicondensed--12-110-75-75-c-60-iso10646-1

! perl
URxvt.perl-ext-common: default,matcher,vtwheel

! clickable URLs
! URxvt.url-launcher: /usr/bin/icecat
! URxvt.matcher.button: 1
! URxvt.matcher.rend.0: Uline Bold fg5

! tabs
! URxvt.tabbed.tabbar-fg: 2
! URxvt.tabbed.tabbar-bg: 0
! URxvt.tabbed.tab-fg: 3
! URxvt.tabbed.tab-bg: 0
! URxvt.tabbed.autohide: true
! URxvt.tabbed.reopen-on-close: yes

! Geometry, etc..
URxvt.geometry: 120x30
! URxvt.internalBorder: 10
URxvt.internalBorder: 6

! Cursor
URxvt.cursorBlink: true
URxvt.cursorUnderline: true

! etc
URxvt.iso14755: false
URxvt.iso14755_52: false
!------------------------------------------------------------------------------
!ROFI Color theme
!------------------------------------------------------------------------------
rofi.font: tewi 9
rofi.color-enabled: true
rofi.color-window: #222222, #6688aa, #222222
rofi.color-normal: #222222, #c2c2b0, #222222, #6688AA, #222222
rofi.color-active: #222222, #c2c2b0, #222222, #6688AA, #222222
rofi.color-urgent: #222222, #c2c2b0, #222222, #6688AA, #222222
